@font-face {
  font-family: 'Exo';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Exo-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'Exo';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("Exo-Medium.ttf") format("ttf");
}