.variables {
  --text-bright: #FFFFFF;
  --text-dark: #333333;

  --placeholder-bright: #FFFFFF;
  --placeholder-dark: #858585;

  --border-bright: #FFFFFF;
  --border-dark: #333333;

  --button-bright: #FFFFFF;
  --button-dark: #333333;
}