.nav-bar__profile-pic {
  background-image: url(../../../images/profile.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
}

.nav-bar__profile-pic:hover {
  cursor: pointer;
}